*{
	margin:0;
	padding:0;
}
#container{
/*	background-color: red;*/
	width: 90%;
	margin:0 auto;
	display: -webkit-flex; /* Safari */
  	display: flex;
}
#display-zone{
	height: 500px;
/*	background-color: green;*/
	flex:2 1;
	display:flex;
	flex-direction: column;
}
#pic-zone{
	padding-left: 10px;
	height: 500px;
/*	background-color: blue;*/
	flex:1;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
#win-zone{
	padding-top: 15px ;
	padding-left: 15px;
	padding-right: 15px;
	height: 300px;
	background-color: #F7F7F7;
	flex:3;
	overflow:auto;
	display: flex;
	flex-direction: column;
}
#btn-zone{
	height: 200px;
/*	background-color: black;*/
	flex:1;
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: relative;
}
#yes-btn,#no-btn,#replay-btn{
	height: 50%;
	flex:1;
	margin:auto 50px;
	font-size: 45px;
}
.robot-talk, .man-talk{
	height: 75px;
	flex:0 0 75px;
	display: flex;
	margin-top: 5px;
}
.man-talk{
	flex-direction:row-reverse;
}
.robot-talk img, .man-talk img{
	border: 1px solid black;
}
.robot-talk span, .man-talk span{
	height: 70px;
	padding-left: 5px;
	padding-right: 5px;
	border: 1px solid gray;
	border-radius: 5px;
	font-family: "Microsoft YaHei";
	font-size: 17px;
	line-height: 70px;
}
.robot-talk span{
	margin-left: 15px;
}
.man-talk span{
	margin-right: 15px;
}
#pic-zone img{
	width: 90px;
	flex:1;
	border: 1px solid gray;
	border-radius: 10px;
	margin-bottom: 5px;
}
